@import "tailwindcss";
@plugin "daisyui";


.PanelGroup .resizer {
  background: #888;
  width: 5px; /* thickness of divider */
  cursor: col-resize; /* horizontal drag */
}


.react-calendar-heatmap text {
  font-size: 8px;
  fill: #aaa;
}

.react-calendar-heatmap .color-empty {
  fill: #ebedf0;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #9be9a8;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #40c463;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #30a14e;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #216e39;
}
.card {
  overflow: visible;
}
